@media (max-width: $tablet-width - 1px) {
  .facts {
    min-height: 837px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .facts {
    min-height: 496px;
  }
}

@media (min-width: $desktop-width) {
  .facts {
    min-height: 503px;
  }
}
