.intro {
  display: flex;
  flex-wrap: wrap;
}

.intro__column {
  display: flex;
  flex-wrap: wrap;
}

.intro__title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.005em;
  color: white;
}

.intro__description {
  margin: 0;

  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.005em;
  color: rgba(white, 0.8);
}

.intro__form form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.intro__form h3 {
  margin: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: black;
}

.intro__form input {
  margin-bottom: 20px;
  padding: 12px 19px 10px 26px;

  font: inherit;
  font-size: 15px;
  line-height: 24px;

  background: white;
  border: 1px solid $gray;
  border-radius: 4px;
}

.intro__form input::placeholder {
  font: inherit;
  font-size: 15px;
  line-height: 24px;
  color: $placeholder;
}

.intro__form label {
  font-size: 0;
  line-height: 0;
}

.intro__form button[type="submit"] {
  padding: 15px;

  font: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-align: center;

  background-color: $birusa;
  border: 0;
  border-radius: 6px;
}

@media (max-width: $tablet-width - 1px) {
  .intro {
    flex-direction: column;
    align-items: center;
  }

  .intro__title {
    margin-bottom: 20px;
  }

  .intro__column {
    padding-top: 120px;
    padding-right: $mobile-padding;
    padding-left: $mobile-padding;
    padding-bottom: 70px;

    background-color: $main-dark;
    background-image: url("../img/head-background-mobile.jpg");
    background-position: top center;
    background-size: cover;

    @media (min-resolution: $min-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/head-background-mobile@2x.jpg");
    }
  }

  .intro__form {
    padding-top: 70px;
    padding-right: $mobile-padding;
    padding-left: $mobile-padding;
  }

  .intro__form h3 {
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .intro {
    flex-direction: column;
    align-items: center;
  }

  .intro__title {
    width: 100%;
    margin-bottom: 18px;
  }

  .intro__column {
    justify-content: center;
    width: 100%;
    padding-top: 134px;
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 80px;

    background-color: $main-dark;
    background-image: url("../img/head-background-tablet.jpg");
    background-position: top center;
    background-size: cover;

    @media (min-resolution: $min-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/head-background-tablet@2x.jpg");
    }
  }

  .intro__form {
    width: 321px;
    padding-top: 70px;
  }

  .intro__description {
    max-width: 435px;
  }

  .intro__form h3 {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-bottom: 120px;
  }

  .intro__column {
    align-self: flex-start;

    width: 393px;
    margin-right: auto;
    padding-top: 47px;
    padding-bottom: 120px;
  }

  .intro__form {
    width: 327px;
  }

  .intro__title {
    margin-bottom: 24px;

    font-size: 46px;
    line-height: 64px;
    text-align: left;
  }

  .intro__description {
    max-width: 381px;

    font-size: 20px;
    text-align: left;
  }

  .intro__form h3 {
    margin-bottom: 20px;

    font-size: 17px;
    color: white;
  }

  .intro__form input {
    &:hover,
    &:focus {
      border-color: black;

      &::placeholder {
        color: black;
      }
    }
  }

  .intro__form button[type="submit"] {
    &:hover,
    &:focus {
      background-color: rgba($birusa, 0.9);
    }

    cursor: pointer;
  }
}
