.page-header {
  background-repeat: no-repeat;
}

.page-header__logo {
  display: block;
  font-size: 0;
  line-height: 0;
}

@media (max-width: $tablet-width - 1px) {
  .page-header {
    background-image: url("../img/head-background-mobile.jpg");
    background-position: top center;
    background-size: auto 390px;

    @media (min-resolution: $min-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/head-background-mobile@2x.jpg");
    }
  }

  .page-header .wrapper {
    position: relative;
    padding-top: 25px;
  }

  .page-header__logo {
    margin-bottom: 75px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .page-header {
    background-image: url("../img/head-background-tablet.jpg");
    background-position: top center;
    background-size: 100% 340px;

    @media (min-resolution: $min-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/head-background-tablet@2x.jpg");
    }
  }

  .page-header .wrapper {
    position: relative;
    padding-top: 25px;
    padding-left: 21px;
    padding-right: 21px;
  }

  .page-header__logo {
    margin-bottom: 92px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-image: url("../img/head-background-desktop.jpg");
    background-size: cover;
    background-position: center;

    @media (min-resolution: $min-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/head-background-desktop@2x.jpg");
    }
  }

  .page-header .wrapper {
    position: relative;
    padding-right: calc(9% + 149px);
    padding-left: calc(9% + 149px);
  }

  .page-header__logo {
    position: absolute;
    top: 318px;
    left: calc(9% + 149px);
  }

  .page-header__nav {
    margin-bottom: 260px;
  }
}
