.page-header {
  background-repeat: no-repeat;
}

.page-header__logo {
  display: block;

  font-size: 0;
  line-height: 0;
}

@media (max-width: $tablet-width - 1px) {
  .page-header .wrapper {
    position: relative;

    padding: 0;
  }

  .page-header__logo {
    position: absolute;
    top: 25px;
    left: 16px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .page-header .wrapper {
    position: relative;

    max-width: 100%;
    padding: 0;
  }

  .page-header__logo {
    position: absolute;
    top: 25px;
    left: 21px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: $main-dark;
    background-image: url("../img/head-background-desktop.jpg");
    background-size: cover;
    background-position: center;

    @media (min-resolution: $min-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/head-background-desktop@2x.jpg");
    }
  }

  .page-header .wrapper {
    position: relative;

    width: 60%;
    padding-right: 0;
    padding-left: 0;

    box-sizing: border-box;
  }

  .page-header__logo {
    position: absolute;
    top: 318px;
    left: 0;
  }

  .page-header__nav {
    margin-bottom: 260px;
  }
}
