@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/open-sans-v17-latin_cyrillic-300.woff2"), url("../fonts/open-sans-v17-latin_cyrillic-300.woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/open-sans-v17-latin_cyrillic-regular.woff2"), url("../fonts/open-sans-v17-latin_cyrillic-regular.woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/open-sans-v17-latin_cyrillic-600.woff2"), url("../fonts/open-sans-v17-latin_cyrillic-600.woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/open-sans-v17-latin_cyrillic-700.woff2"), url("../fonts/open-sans-v17-latin_cyrillic-700.woff");
}
